<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport",  content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="layout.css")
    link(rel="stylesheet", href="card.css")
    link(rel="stylesheet", href="card-2ch.css")
    title ceils
  body
    //- .grid>.ceil-$*9>p>lorem20
    .container
      .grid
        .grid__ceil-1
          .under_the_card#str1 HE BEP6
          include card
        .grid__ceil-2
          .under_the_card#str2 HE 6O<f>N</f>C<f>R</f>
          include card
        .grid__ceil-3
          .under_the_card#str3 HE TTPOC<f>N</f>
          include card
        .grid__ceil--title
          p TYT #[h H]#[f N]4E#[l #[r L]]O  HET
        .grid__ceil-7
          .under_the_card-2ch#str4 SUP
          include card-2ch
        .grid__ceil-8
          .under_the_card-2ch#str5 /pr
          include card-2ch
        .grid__ceil-9
          .under_the_card-2ch#str6 2_19-1-1
          include card-2ch
